entryPoints:
  web:
    address: ":${PORT}"

ping:
  entryPoint: web

providers:
  file:
    filename: "/dynamic.yml"
    watch: true

log:
  level: DEBUG

accessLog:
  format: json

# Disable dashboard and API to avoid port conflicts
api:
  dashboard: false
  insecure: false
